.page-constructor{
    display: flex;
    flex-direction: column;
    background: #000 url(../images/constructor_background.jpg) fixed;
    background-size: 105%;
    font-family: Calibri, serif;
    font-weight: 500;
    text-align: left;
    line-height: 1.25em;
    padding: 1%;
    white-space: normal;
}

header{
    display: flex;
    justify-content: center;
}


.menu{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 101%;
    height: 12vh;
    background: rgb(161,228,237, 0.85);
    position: fixed;
    margin-top: 87vh;
}

.menu__home{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.menu__hollywood{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.menu__quotes{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.menu__constructor{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.constructor__header{
    font-family: Jost, serif;
    font-size: 2rem;
    margin-top: 2vh;
}

.menu__home:hover {
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__home:active {
    background-color: white;
}

.menu__hollywood:hover {
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__hollywood:active{
    background-color: white;
}

.menu__quotes:hover{
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__quotes:active{
    background-color: white;
}

.menu__constructor:hover{
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__constructor:active{
    background-color: white;
}

#constructor__input__groupname{

}

#constructor__input__songname{

}

.done__todo{

}

.undone_todo{

}