.page-hollywood{
    display: flex;
    flex-direction: column;
    background: #000 url(../images/hollywood_background.jpg) fixed;
    font-family: Calibri, serif;
    font-weight: 500;
    text-align: left;
    line-height: 1.25em;
    padding: 1%;
    white-space: normal;
}

header{
    display: flex;
    justify-content: center;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{

}

.menu{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 101%;
    height: 12vh;
    background: rgb(161,228,237, 0.85);
    position: fixed;
    margin-top: 87vh;
}

.menu__index{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.menu__hollywood{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.menu__quotes{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.menu__constructor{
    height: 4.5vh;
    width: 8%;
    margin-top: 1.5%;
    background: rgb(186,174,164, 0.7);
    border: 1px solid black;
    text-align: center;
    padding-top: 1%;
}

.hollywood__header{
    font-family: Jost, serif;
    font-size: 2rem;
    margin-top: 2vh;
}

.main__poster{
    width: 35%;
    height: auto;
    margin-top: 5vh;
}


.main__film{
    box-shadow: 0px 0px 20px 20px rgba(255, 33, 162, 0.63);
    margin-top: 10vh;
    margin-bottom: 12vh;
}

.main__description{
    font-size: 1.4rem;
    background: rgb(161,228,237, 0.8);
    width: 50%;
    height: 30vh;
    padding: 1%;
    margin-top: 30vh;
}

.menu__home:hover {
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__home:active {
    background-color: white;
}

.menu__hollywood:hover {
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__hollywood:active{
    background-color: white;
}

.menu__quotes:hover{
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__quotes:active{
    background-color: white;
}

.menu__constructor:hover{
    background-color: rgb(245,229,230);
    color: grey;
}

.menu__constructor:active{
    background-color: white;
}


@media screen and (max-width: 1200px) {
    .menu{
        font-size: calc( (100vw - 700px)/(1200 - 480) * (17 - 10) + 10px);
    }
}